# Example OpenAPI YAML to get you started quickly.
# Note: YAML has indentation based coping.
# Code completion support is available so start typing for
# available options.
# This example follows the recommendations of the API 
# Improvement Proposals for common API patterns. Find more
# at https://google.aip.dev/

# Find the full OpenAPI reference at:
# https://github.com/OAI/OpenAPI-Specification
openapi: 3.0.3

# This is your document metadata.
info:
  version: 0.0.1
  title: Energy Data Services
  description: |
    Allows you to manage and access measurement data and related Utilities devices in SAP Cloud for Energy.

# Servers where this API is hosted
servers: 
  - url: https://amer-partner3-prod.apigee.net/energy-management

security:
  - ApiKeyAuth: []
  
# Describe your paths here
paths:
  '/meters':
    get:
      summary: 'Get all meter configuration data.'
      description: 'Get all meter configuration data.'
      responses:
        # Response code
        '200':
          description: Successful response
          # Response body content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfMeters'  
    post:
      summary: 'Creates a new meter configuration'
      description: 'Creates a new meter configuration'
      requestBody:
        description: 'Meter object'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Meter'            
      responses:
        '201':
          description: item created    
  '/meters/{meterid}':
    # This is an HTTP operation
    get:
      summary: 'Get the meter configuration data.'
      description: 'Get the meter configuration data'
      parameters:
        # An example parameter that is in query and is required
        - name: meterid
          in: path
          description: |
            Unique identifier of the desired person object.
          required: true
          schema:
            type: string
      responses:
        # Response code
        '200':
          description: Successful response
          # Response body content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meter'
    put:
      summary: 'Updates a meter configuration'
      description: 'Updates a meter configuration'
      parameters:
        # An example parameter that is in query and is required
        - name: meterid
          in: path
          description: |
            Unique identifier of the desired person object.
          required: true
          schema:
            type: string
      requestBody:
        description: 'Meter object'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Meter'            
      responses:
        '201':
          description: item updated     
  '/readings':
    # This is an HTTP operation
    get:
      summary: 'Get all meter readings data.'
      description: 'Get all meter readings data'
      responses:
        # Response code
        '200':
          description: Successful response
          # Response body content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfMeterReadings'
    post:
      summary: 'Adds a meter reading'
      description: 'Adds a meter reading'
      requestBody:
        description: 'Meter object'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeterReading'
      responses:
        '201':
          description: item updated                   
  '/readings/{meterid}':
    # This is an HTTP operation
    get:
      summary: 'Get the meter readings data.'
      description: 'Get the meter readings data'
      parameters:
        # An example parameter that is in query and is required
        - name: meterid
          in: path
          description: |
            Unique identifier of the desired person object.
          required: true
          schema:
            type: string
      responses:
        # Response code
        '200':
          description: Successful response
          # Response body content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfMeterReadings'
    put:
      summary: 'Updates a meter reading'
      description: 'Updates a meter reading'
      parameters:
        # An example parameter that is in query and is required
        - name: meterid
          in: path
          description: |
            Unique identifier of the desired person object.
          required: true
          schema:
            type: string
      requestBody:
        description: 'Meter object'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeterReading'
      responses:
        '201':
          description: item updated       
  '/vision':
    post:
      summary: Analyzes the posted image using cloud vision AI and returns the labels and scores of the objects found in the image.
      description: Analyzes the posted image using cloud vision AI and returns the labels and scores of the objects found in the image.  Used in combination with meter reading reporting using a camera to capture data.
      requestBody:
        description: 'Image object to analyze'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageRequest'          
      responses:
        '200':
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-apikey
  # Schemas is a map of names to Schema objects
  schemas:
    Meter:
      title: Meter
      type: object
      properties:
        meterId:
          description: |
            [Resource Name](https://aip.dev/122) of a meter.
            Format: `meters/{meterid}`
          type: string
          example: "meters/a353-x51d"
          pattern: 'meters\/[a-z0-9-]+'
        displayName:
          description: 'Display name of a meter.'
          type: string
          example: "Meter_345332"
        status:
          description: 'Status of the meter.'
          type: string
          enum: ["error", "normal"]        
        location:
          description: 'The location of the meter'
          type: string
          example: "52.517568, 10.959388"
        readings:
          description: 'The meter readings'
          type: array
          items:
            $ref: '#/components/schemas/MeterReading'
    MeterReading:
      title: MeterReading
      type: object
      properties:
        meterId:
          description: |
            [Resource Name](https://aip.dev/122) of a meter.
            Format: `meters/{meterId}`
          type: string
          example: "a353-x51d"
          pattern: '[a-z0-9-]+'
        readingId:
          description: |
            [Resource Name](https://aip.dev/122) of a meter.
            Format: `readings/{readingId}`
          type: string
          example: "a353-x51d"
          pattern: '[a-z0-9-]+'             
        timestamp:
          description: "The timestamp of the meter reading"
          format: date-time
          type: string
        reading:
          description: 'Meter reading value'
          type: number
        quality:
          description: 'The quality of the reading'
          type: string
        source:
          description: 'The type of the meter reading'
          type: string
        type:
          description: 'The type of the meter reading'
          type: string
          enum: [error, measure]
        message:
          description: 'Additional message info from the reading'
          type: string        
    ArrayOfMeters:
      title: ArrayOfMeters
      type: array
      items: 
        $ref: '#/components/schemas/Meter'          
    ArrayOfMeterReadings:
      title: ArrayOfMeterMeasurements
      type: array
      items: 
        $ref: '#/components/schemas/MeterReading'
    ImageRequest:
      type: object
      properties:
        requests:
          description: The image container object containing the image
          type: array
          items:
            $ref: '#/components/schemas/ImageContainer'
    ImageContainer:
      type: object
      properties:
        image:
          $ref: '#/components/schemas/Image'
    Image:
      type: object
      properties:
        content:
          description: The base64 encoded image to analyze
          type: string
        features:
          description: The features that the image analysis should use
          type: array
          items:
            $ref: '#/components/schemas/Feature'
    Feature:
      description: The feature object contains the types of features to use for analyzing the iamge.
      type: object
      properties:
        type:
          description: The only valid option to use here is LABEL_DETECTION
          type: string
    ImageResponse:
      type: object
      properties:
        responses:
          description: The image analysis response labels
          type: array
          items:
            $ref: '#/components/schemas/LabelAnnotations'  
    LabelAnnotations:
      type: object
      properties:
        labelAnnotations:
          description: The label annotations from the image analysis
          type: array
          items:
            $ref: '#/components/schemas/LabelAnnotation'
    LabelAnnotation:
      type: object
      properties:
        mid:
          description: The knowledge graph id of the object, can be used to query the Google Knowledge Graph for more information
          type: string
        description: 
          description: Text description of the object
          type: string
        score:
          description: How accurate the object recognition was
          type: number
          format: double
        topicality:
          description: How topical the object is, relating to the score.
          type: number
          format: double        
        
