<!DOCTYPE html>
<html>
	<head>
		<title>Apigee CS Sample Authentication</title>
		<link rel="stylesheet" type="text/css" href="<%= basePath %>/stylesheets/global.css" >
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>
	<body>
		<div class="container">
			<%- body %>
		</div>
	</body>
</html>